clim_df.csv
march-clim_df.csv
peru-main.RData
figs/adm3-allper-clim_matchcomp.pdf
figs/adm3-allper-matchmap.png
figs/adm3-allperclim-stddiff.pdf
figs/adm3-allperclim_matchscatter.pdf
figs/anomaly_dist.pdf
figs/climate_map.pdf
figs/climate_map.png
figs/pctile-anomaly.pdf
figs/relr0.pdf
figs/treated-dist-names.tex
march-files/PER-daily_clim-marchtest10_2025_01_03_13_06_10.csv
march-files/PER-daily_clim-marchtest11_2025_01_03_13_06_15.csv
march-files/PER-daily_clim-marchtest12_2025_01_03_13_06_20.csv
march-files/PER-daily_clim-marchtest13_2025_01_03_13_06_25.csv
march-files/PER-daily_clim-marchtest14_2025_01_03_13_06_30.csv
march-files/PER-daily_clim-marchtest15_2025_01_03_13_06_35.csv
march-files/PER-daily_clim-marchtest16_2025_01_03_13_06_41.csv
march-files/PER-daily_clim-marchtest17_2025_01_03_13_06_45.csv
march-files/PER-daily_clim-marchtest18_2025_01_03_13_06_51.csv
march-files/PER-daily_clim-marchtest19_2025_01_03_13_06_57.csv
march-files/PER-daily_clim-marchtest1_2025_01_03_13_05_23.csv
march-files/PER-daily_clim-marchtest20_2025_01_03_13_07_02.csv
march-files/PER-daily_clim-marchtest21_2025_01_03_13_07_07.csv
march-files/PER-daily_clim-marchtest22_2025_01_03_13_07_12.csv
march-files/PER-daily_clim-marchtest23_2025_01_03_13_07_18.csv
march-files/PER-daily_clim-marchtest24_2025_01_03_13_07_23.csv
march-files/PER-daily_clim-marchtest25_2025_01_03_13_07_28.csv
march-files/PER-daily_clim-marchtest26_2025_01_03_13_07_33.csv
march-files/PER-daily_clim-marchtest27_2025_01_03_13_07_39.csv
march-files/PER-daily_clim-marchtest28_2025_01_03_13_07_43.csv
march-files/PER-daily_clim-marchtest29_2025_01_03_13_07_49.csv
march-files/PER-daily_clim-marchtest2_2025_01_03_13_05_28.csv
march-files/PER-daily_clim-marchtest30_2025_01_03_13_07_54.csv
march-files/PER-daily_clim-marchtest31_2025_01_03_13_08_00.csv
march-files/PER-daily_clim-marchtest32_2025_01_03_13_08_06.csv
march-files/PER-daily_clim-marchtest33_2025_01_03_13_08_11.csv
march-files/PER-daily_clim-marchtest34_2025_01_03_13_08_17.csv
march-files/PER-daily_clim-marchtest35_2025_01_03_13_08_22.csv
march-files/PER-daily_clim-marchtest36_2025_01_03_13_08_28.csv
march-files/PER-daily_clim-marchtest37_2025_01_03_13_08_33.csv
march-files/PER-daily_clim-marchtest38_2025_01_03_13_08_39.csv
march-files/PER-daily_clim-marchtest39_2025_01_03_13_08_43.csv
march-files/PER-daily_clim-marchtest3_2025_01_03_13_05_34.csv
march-files/PER-daily_clim-marchtest40_2025_01_03_13_08_48.csv
march-files/PER-daily_clim-marchtest41_2025_01_03_13_08_54.csv
march-files/PER-daily_clim-marchtest42_2025_01_03_13_09_00.csv
march-files/PER-daily_clim-marchtest43_2025_01_03_13_09_05.csv
march-files/PER-daily_clim-marchtest44_2025_01_03_13_09_10.csv
march-files/PER-daily_clim-marchtest45_2025_01_03_13_09_15.csv
march-files/PER-daily_clim-marchtest46_2025_01_03_13_09_21.csv
march-files/PER-daily_clim-marchtest47_2025_01_03_13_09_27.csv
march-files/PER-daily_clim-marchtest48_2025_01_03_13_09_32.csv
march-files/PER-daily_clim-marchtest49_2025_01_03_13_09_37.csv
march-files/PER-daily_clim-marchtest4_2025_01_03_13_05_39.csv
march-files/PER-daily_clim-marchtest50_2025_01_03_13_09_43.csv
march-files/PER-daily_clim-marchtest51_2025_01_03_13_09_48.csv
march-files/PER-daily_clim-marchtest5_2025_01_03_13_05_45.csv
march-files/PER-daily_clim-marchtest6_2025_01_03_13_05_50.csv
march-files/PER-daily_clim-marchtest7_2025_01_03_13_05_55.csv
march-files/PER-daily_clim-marchtest8_2025_01_03_13_06_00.csv
march-files/PER-daily_clim-marchtest9_2025_01_03_13_06_05.csv
march-files/PER3-daily_clim-marchtest10_2025_01_03_13_02_20.csv
march-files/PER3-daily_clim-marchtest11_2025_01_03_13_02_22.csv
march-files/PER3-daily_clim-marchtest12_2025_01_03_13_02_24.csv
march-files/PER3-daily_clim-marchtest13_2025_01_03_13_02_26.csv
march-files/PER3-daily_clim-marchtest14_2025_01_03_13_02_28.csv
march-files/PER3-daily_clim-marchtest15_2025_01_03_13_02_30.csv
march-files/PER3-daily_clim-marchtest16_2025_01_03_13_02_34.csv
march-files/PER3-daily_clim-marchtest17_2025_01_03_13_02_39.csv
march-files/PER3-daily_clim-marchtest18_2025_01_03_13_02_45.csv
march-files/PER3-daily_clim-marchtest19_2025_01_03_13_02_50.csv
march-files/PER3-daily_clim-marchtest1_2025_01_03_13_01_59.csv
march-files/PER3-daily_clim-marchtest20_2025_01_03_13_02_55.csv
march-files/PER3-daily_clim-marchtest21_2025_01_03_13_03_00.csv
march-files/PER3-daily_clim-marchtest22_2025_01_03_13_03_05.csv
march-files/PER3-daily_clim-marchtest23_2025_01_03_13_03_07.csv
march-files/PER3-daily_clim-marchtest24_2025_01_03_13_03_09.csv
march-files/PER3-daily_clim-marchtest25_2025_01_03_13_03_11.csv
march-files/PER3-daily_clim-marchtest26_2025_01_03_13_03_13.csv
march-files/PER3-daily_clim-marchtest27_2025_01_03_13_03_18.csv
march-files/PER3-daily_clim-marchtest28_2025_01_03_13_03_24.csv
march-files/PER3-daily_clim-marchtest29_2025_01_03_13_03_29.csv
march-files/PER3-daily_clim-marchtest2_2025_01_03_13_02_01.csv
march-files/PER3-daily_clim-marchtest30_2025_01_03_13_03_34.csv
march-files/PER3-daily_clim-marchtest31_2025_01_03_13_03_40.csv
march-files/PER3-daily_clim-marchtest32_2025_01_03_13_03_44.csv
march-files/PER3-daily_clim-marchtest33_2025_01_03_13_03_50.csv
march-files/PER3-daily_clim-marchtest34_2025_01_03_13_03_54.csv
march-files/PER3-daily_clim-marchtest35_2025_01_03_13_03_59.csv
march-files/PER3-daily_clim-marchtest36_2025_01_03_13_04_04.csv
march-files/PER3-daily_clim-marchtest37_2025_01_03_13_04_09.csv
march-files/PER3-daily_clim-marchtest38_2025_01_03_13_04_13.csv
march-files/PER3-daily_clim-marchtest39_2025_01_03_13_04_18.csv
march-files/PER3-daily_clim-marchtest3_2025_01_03_13_02_03.csv
march-files/PER3-daily_clim-marchtest40_2025_01_03_13_04_23.csv
march-files/PER3-daily_clim-marchtest41_2025_01_03_13_04_27.csv
march-files/PER3-daily_clim-marchtest42_2025_01_03_13_04_32.csv
march-files/PER3-daily_clim-marchtest43_2025_01_03_13_04_37.csv
march-files/PER3-daily_clim-marchtest44_2025_01_03_13_04_42.csv
march-files/PER3-daily_clim-marchtest45_2025_01_03_13_04_47.csv
march-files/PER3-daily_clim-marchtest46_2025_01_03_13_04_52.csv
march-files/PER3-daily_clim-marchtest47_2025_01_03_13_04_57.csv
march-files/PER3-daily_clim-marchtest48_2025_01_03_13_05_02.csv
march-files/PER3-daily_clim-marchtest49_2025_01_03_13_05_07.csv
march-files/PER3-daily_clim-marchtest4_2025_01_03_13_02_06.csv
march-files/PER3-daily_clim-marchtest50_2025_01_03_13_05_12.csv
march-files/PER3-daily_clim-marchtest51_2025_01_03_13_05_17.csv
march-files/PER3-daily_clim-marchtest5_2025_01_03_13_02_08.csv
march-files/PER3-daily_clim-marchtest6_2025_01_03_13_02_10.csv
march-files/PER3-daily_clim-marchtest7_2025_01_03_13_02_13.csv
march-files/PER3-daily_clim-marchtest8_2025_01_03_13_02_15.csv
march-files/PER3-daily_clim-marchtest9_2025_01_03_13_02_17.csv
figs/pctile-anomaly.pdf
figs/pctile-anomaly.pdf
/figs
/figs
/clim-tomatch
/cov
adm3-allper_table.tex
/figs
scenarios.RData
/figs